* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{ font-size:1.25em; color:#012345; }

a{ text-decoration:none; }

form{ }
form .table{ width:100%; background-color:#ddeeff; }
form .form-row{ width:100%; }
form .form-row .form-col-0{ width:23%; padding-bottom:0.5em; display:block; text-align:right; }
/** width of form-col-1 equals width of form-col-1 .textarea */
form .form-row .form-col-1{ width:53%; padding-bottom:0.5em; text-align:left; }
form .form-row .form-col-2{ width:23%; padding-bottom:0.5em; text-align:left; font-size:0.75em; }
form .form-row .form-col-1 .input{ width:100%; font-size:1.25em; }
form .form-row .form-col-1 .select{ width:100%; font-size:1.25em; }
form .form-row .form-col-1 .textarea{ width:100%; height:5em; font-size:1.25em; }

.content-box-heading{ background-color:#ddfffd; border:1px solid gray; margin:0.25rem; padding:0.5rem; }
.content-box{ border:1px solid gray; margin:0.25rem; padding:0.5rem; }

.nowrap{ white-space:nowrap; }
.bold{ font-weight:bold; }
.red{ color:red; }
.heavy-max{ font-weight:900; }

.face-0{ background-color:navy; color:white; padding:0.5em; }
.face-0 a{  text-decoration:none; color:white; }

.navbar{ width:100%; }

.breadcrumb{ width:100%; padding:0.5em; font-size:0.75em; border:1px solid #abcdef; }
.breadcrumb .breadcrumb-item{}

.errormessage{ color:red; }
.infomessage{ color:green; }

.container{}

.content .content-table{ width:100%; }
.content .content-row{ width:100%; }
.content .content-row .content-col-0{ width:20%; vertical-align:top; }
.content .content-row .content-col-1{ width:80%; vertical-align:top; padding:0.5em; text-align:justify; }

/** 3 color getting lighter #407966  #95cebb  #c8ffee */
.sidebar{ border:1px solid #abcdef; }
.sidebar .sidebar-heading{ text-align:center; }
.sidebar .sidebar-body{ }
.sidebar .sidebar-item{ padding:0.25em 0.5em 0.25em 0.5em; }

.searchresults { width:100%; }
.searchresults .searchresults-row{ width:100%; }

.button {
    font-size:1.25em;
    border: 1px solid transparent;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0.6rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 38px;
}

.primary-button {
    background-color: #128ff2;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    display: block;
    margin-top: 15px;
    min-width: 100px;
}

@media screen and (min-width: 500px) {
    .primary-button {
        background-color: #128ff2;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        display: inline-block;
        margin-top: 0;
        margin-left: 10px;
    }
}

