<th:block th:fragment="formRow(formMember, disabled)">

    <td class="form-col-0 nowrap">
        <span class="nowrap">
            <label class="nowrap" th:for="${formMember.id}" th:text="${formMember.label}"/>
            <font class="red heavy-max" th:if="${!formMember.optional}"> * </font>
        </span>
    </td>

    <td class="form-col-1" th:insert="fragments/formfield.html :: formMember(formMember=${formMember}, disabled=${disabled})">

    </td>

    <td class="form-col-2" th:id="${formMember.name}+'Message'" th:text="${formMember.advice}"/>

</th:block>
