<th:block th:fragment="formMember(formMember, disabled)">

    <th:block th:if="${formMember.multiChoice}">

        <th:block th:if="${!formMember.choices.empty}">
            <select th:disabled="${disabled}"
                    th:multiple="${formMember.multiple}"
                    th:style="'width:'+${formMember.size}" 
                    class="select" th:id="${formMember.id}" 
                    th:name="${formMember.name}" th:size="${formMember.multiple ? 3 : 1}"
                    th:required="${formMember.required}">

                <option disabled th:text="'Select ' + ${formMember.label}"></option>

                <th:block th:each="entry: ${formMember.choices}">
                    <th:block th:if="${formMember.multiple}">
                        <option th:selected="${formMember.value != null && #lists.contains(formMember.value, entry.key)}"
                                th:name="${formMember.name}"
                                th:value="${entry.key}" 
                                th:text="${entry.value}"/>
                    </th:block>
                    <th:block th:unless="${formMember.multiple}">
                        <option th:selected="${formMember.value == entry.key || formMember.value == entry.value}"
                                th:name="${formMember.name}"
                                th:value="${entry.key}" 
                                th:text="${entry.value}"/>
                    </th:block>
                </th:block>

            </select>
        </th:block>

    </th:block>
    <th:block th:unless="${formMember.multiChoice}">

        <th:block th:if="${formMember.type == 'checkbox'}">

            <!-- If value == true set the state to checked -->
            <th:block th:if="${formMember.value == true}">
                <input checked
                       th:disabled="${disabled}"  
                       class="input" th:id="${formMember.id}" 
                       th:name="${formMember.name}" 
                       th:type="${formMember.type}" th:required="${!formMember.optional}"/>
            </th:block>    
            <th:block th:unless="${formMember.value == true}">
                <input th:disabled="${disabled}"  
                       class="input" th:id="${formMember.id}" 
                       th:name="${formMember.name}" 
                       th:type="${formMember.type}" th:required="${!formMember.optional}"/>
            </th:block>    
        </th:block>
        <th:block th:unless="${formMember.type == 'checkbox'}">

            <!-- We display file as text if the form field is disabled -->
            <th:block th:if="${formMember.type == 'file'}">
                <input th:disabled="${disabled}"
                       class="input" th:id="${formMember.id}" 
                       th:name="${formMember.name}" th:value="${formMember.value}"
                       th:type="${disabled} ? 'text' : 'file'" 
                       th:required="${!formMember.optional}" 
                       size="35" th:maxlength="${formMember.maxLength}"/>
            </th:block>
            <th:block th:unless="${formMember.type == 'file'}">
                <th:block th:if="${formMember.numberOfLines &lt; 2}">
                    <input th:disabled="${disabled}"
                           class="input" th:id="${formMember.id}" 
                           th:name="${formMember.name}" th:value="${formMember.value}"
                           th:type="${formMember.type}" th:required="${!formMember.optional}" 
                           size="35" th:maxlength="${formMember.maxLength}"/>
                </th:block>
                <th:block th:unless="${formMember.numberOfLines &lt; 2}">
                    <textarea th:disabled="${disabled}" 
                              th:rows="${formMember.numberOfLines}" 
                              class="textarea" th:id="${formMember.id}" 
                              th:name="${formMember.name}" th:text="${formMember.value}"
                              th:required="${!formMember.optional}">
                    </textarea>
                </th:block>
            </th:block>    
        </th:block>    
    </th:block>    

    <th:block th:if="${formMember.referencedFormHref != null}">
        <th:block th:if="${formMember.choices == null}">
            <th:block th:text="${formMember.label} + ' is required.'"/>
            &nbsp;<a th:href="@{{link}?parentfid={fid}&targetOnCompletion={reqUri}?fid={fid}(link=${formMember.referencedFormHref},fid=${fid},reqUri=${#httpServletRequest.requestURI})}">
                Click here to create one</a>
        </th:block>
        <th:block th:unless="${formMember.choices == null}">
            <th:block th:text="'Select a ' + ${formMember.label}"/>
            &nbsp;<a th:href="@{{link}?parentfid={fid}&targetOnCompletion={reqUri}?fid={fid}(link=${formMember.referencedFormHref},fid=${fid},reqUri=${#httpServletRequest.requestURI})}">
            Or click here to create one</a>
        </th:block>
    </th:block>

</th:block>
