<th:block th:fragment="sidebar">
    <div class="sidebar">
        <div class="sidebar-heading face-0">Category 1</div>
        <div class="sidebar-body">
            <div class="sidebar-item">Subcategory A</div>
            <div class="sidebar-item">Subcategory B</div>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-heading face-0">Category 2</div>
        <div class="sidebar-body">
            <div class="sidebar-item">Subcategory C</div>
            <div class="sidebar-item">Subcategory D</div>
        </div>
    </div>    
</th:block>
