<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{base}">
    <head>
        <meta name="description" th:content="'Confirm ' + ${form.displayName} + ' Form Entries'"/>
        <title>Confirm [[${form.displayName}]] Form Entries</title>
    </head>
    <body>
        
        <th:block layout:fragment="breadcrumb">
            <span class="breadcrumb-item"><a th:href="@{/}">Home</a></span>
            &emsp;&gt;&emsp;<span class="breadcrumb-item"><a th:href="@{/{action}/{modelname}(action=${action},modelname=${modelname})}">[[${form.displayName}]] Form</a></span>
            &emsp;&gt;&emsp;<span class="breadcrumb-item">Confirm Entries</span>
        </th:block>
        
        <th:block layout:fragment="page_content_heading">
            <th:block th:text="'Confirm Entries and Submit if OK'"/>
        </th:block>

        <th:block layout:fragment="page_content">

            <form>
                <table class="table">
                    <th:block th:each="formMember: ${form.nonHiddenMembers}">
                        <th:block th:if="${modelfields == null || modelfields.empty || #lists.contains(modelfields, formMember.name)}">
                            <tr class="form-row" th:insert="fragments/formrow.html :: formRow(formMember=${formMember}, disabled='true')">
                            </tr>
                        </th:block>
                    </th:block>    
                </table>
            </form>    

            <form id="form.back" action="#" 
                  th:action="@{/{action}/{modelname}(action=${action},modelname=${modelname})}">
                <input type="hidden" name="parentfid" th:value="${parentfid}"/>
                <input type="hidden" name="fid" th:value="${fid}"/>
                <input type="hidden" name="mid" th:value="${mid}"/>
                <input type="hidden" name="targetOnCompletion" th:value="${targetOnCompletion}"/>
                <th:block th:each="modelfield: ${modelfields}">
                    <input type="hidden" name="modelfields" th:value="${modelfield}"/>
                </th:block>
            </form>
            <form id="form.submit" action="#" 
                  th:action="@{/{action}/{modelname}/submit(action=${action},modelname=${modelname})}">
                <input type="hidden" name="parentfid" th:value="${parentfid}"/>
                <input type="hidden" name="fid" th:value="${fid}"/>
                <input type="hidden" name="mid" th:value="${mid}"/>
                <input type="hidden" name="targetOnCompletion" th:value="${targetOnCompletion}"/>
                <th:block th:each="modelfield: ${modelfields}">
                    <input type="hidden" name="modelfields" th:value="${modelfield}"/>
                </th:block>
            </form>
            <input class="button primary-button" form="form.back" type="submit" value=" Back "/>
            &emsp;<input  class="button primary-button" form="form.submit" type="submit" value="Submit"/>
        </th:block>

    </body>
</html>
